script(src='/js/orgchart.js')

link(rel="icon" href="/favicon.png" type="image/x-icon")

#tree

script.

  var data = JSON.parse(!{JSON.stringify(json)});

  let chart = new OrgChart(document.getElementById("tree"), { 
    nodeBinding: {
      field_0: "name"
    },
    nodeMenu: {
      details: { text: "Details" },
      edit: { text: "Edit" },
      add: { text: "Add" },
      remove: { text: "Remove" }
    }
  });

  chart.onAddNode((args) => {
      fetch('/add', {
          method: "POST",
          body: JSON.stringify(args),
          headers: {
              "Content-Type": "application/json"
          }
      })
      .then(response => response.json())
      .then(data => console.log(data))
      .catch(error => console.error(error));
  });

  chart.onUpdateNode((args) => {
    fetch('/', {
      method: 'POST',
      body: JSON.stringify(args),
      headers: {
        'Content-Type': 'application/json'
      }
    })
    .then(response => response.json())
    .then(data => console.log(data))
    .catch(error => console.error(error));
  //return false; to cancel the operation
  });

  chart.onRemoveNode((args) => {
      fetch("/remove", {
          method: "POST",
          body: JSON.stringify(args),
          headers: {
              "Content-Type": "application/json"
          }
      })
      .then(response => response.json())
      .then(data => console.log(data))
      .catch(error => console.error(error));
      return true;
  });

  chart.load(data)


